@import "base/_colors.scss";

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: $lightBackground;
  color: $fontColor;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $fontColor;
}

input, textarea {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
}

.invisible {
  display: none;
}

.sidebar-default {
  @media only screen and (min-width: 581px) {
    left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.sidebar-open {
  margin-left: 0;
  left: 0;
  transition: left 500ms ease-in-out;

}

.sidebar-close {
  left: -100%;
  transition: left 500ms ease-in-out;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

.menu-closed {
  color: black;
}

.menu-opened {
  color: white;
}

.burger-menu {
  @media only screen and (min-width: 581px) {
    display: none;
  }

  height: 40px;
  width: 40px;
  position: fixed;
  top: 1rem;
  left: 5%;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}